@font-face {
  font-family: "iconfont"; /* Project id 3828712 */
  src: url('https://at.alicdn.com/t/c/font_3828712_fkp9r9289vb.woff2?t=1674201452101') format('woff2'),
       url('https://at.alicdn.com/t/c/font_3828712_fkp9r9289vb.woff?t=1674201452101') format('woff'),
       url('https://at.alicdn.com/t/c/font_3828712_fkp9r9289vb.ttf?t=1674201452101') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-preview:before {
  content: "\e609";
}

.icon-bin:before {
  content: "\e611";
}

.icon-preview1:before {
  content: "\e626";
}

.icon-ashbin:before {
  content: "\e665";
}

.icon-yulan-dakai_preview-open:before {
  content: "\e61c";
}

.icon-love:before {
  content: "\e66b";
}

.icon-aixin-xian:before {
  content: "\e64d";
}

.icon-qrcode:before {
  content: "\e76e";
}

.icon-wifi:before {
  content: "\e783";
}

.icon-addto:before {
  content: "\e698";
}

.icon-keyboard:before {
  content: "\e71b";
}

.icon-record:before {
  content: "\e63f";
}

.icon-smile:before {
  content: "\e625";
}

.icon-ellipsis:before {
  content: "\e7fc";
}

.icon-left:before {
  content: "\e628";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-swap-right:before {
  content: "\e8f1";
}

.icon-swap-left:before {
  content: "\e8f2";
}

.icon-youxitianchong:before {
  content: "\e6b5";
}

.icon-saoyisao1:before {
  content: "\e6ea";
}

.icon-shop:before {
  content: "\e66c";
}

.icon-iconfontzhizuobiaozhunbduan36:before {
  content: "\e6e9";
}

.icon-kanyikan:before {
  content: "\e60b";
}

.icon-xiaochengxu:before {
  content: "\e63a";
}

.icon-shoufukuan1:before {
  content: "\e647";
}

.icon-chat1:before {
  content: "\e66a";
}

.icon-help:before {
  content: "\e65d";
}

.icon-adduser:before {
  content: "\e7af";
}

.icon-saoyisao:before {
  content: "\e610";
}

.icon-shoufukuan:before {
  content: "\e61e";
}

.icon-add:before {
  content: "\e661";
}

.icon-pengyouquan-copy:before {
  content: "\e655";
}

.icon-round_favor_fill:before {
  content: "\e80a";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-search:before {
  content: "\e82e";
}

.icon-chat:before {
  content: "\e69d";
}

.icon-ktv:before {
  content: "\e615";
}
